#top {
	background-color: #42a1cc;
	width: 100%;
	height: 90px;
	padding-top: 10px;
}
#logo {
	color: white;
	margin-left: 180px;
}
#nav {
	float: left;
	display: inline-block;
	width: 100%;
	height: 35px;
	margin: 0 auto 0 auto;
	padding: 15px 0 0 15px;
/*	font-family: Arial; */
	border: 2px solid black;
	background-color: #2d85b0;
}
#nav_container {
	width:40%;
	margin: auto 0 auto 10%;
}
#nav_links {
	margin: auto 0 auto 10%;
}

#nav_links li{
	display: inline;
	margin: auto 0 auto 10%;
}
a {
	color: white
}



