/* Ben's code below for INDEX page (index.html) */


	
.remove_margs{
	margin: 0px;
}

#home_ban{
	height: 600px;
	width: 100%;
	background-image: url(https://images.unsplash.com/photo-1417816491410-d61e1546e539?q=80&fm=jpg&s=d836eb7972945ac5105af80e19a49d37);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;  
	font-family: sans-serif;
	position: relative;
}

#home_ban .banner_text{
	color: #2D85B0;
	font-weight: 300;
	font-size: 13rem;
	letter-spacing: -.9rem;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 200px; 
	opacity: .9;
}

.content_text {
	margin: 0px;
	color: white;
	font-family: sans-serif;
	font-size: 1.8rem;
	font-weight: 200;
	letter-spacing: -.03rem;
	width: 80%;
	margin-left: 10%;
	padding-top: 50px;
}

#games_are_awesome{
	width: 100%;
	height: 400px;
	background-color: #42A1CC;
	overflow: hidden;
	position: relative;
	background: -webkit-linear-gradient(#2D85B0, transparent), url(https://images.unsplash.com/photo-1416453072034-c8dbfa2856b5?q=80&fm=jpg&s=cbea81b9705e4553fbb2d7681aa5731e);
	background-attachment: fixed;
	background-position: center center;
}
#arrow{
	position: absolute; 
	left: 45%;
	top: 160px;
	width: 100px;
	height: 100px;
}
#games_are_awesome p{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 2.7rem;
	padding: 70px;
	color: white;
	font-weight: 200;
}

#games_are_awesome img:nth-of-type(2){
	position: absolute;
	width: 290px;
	height: 290px;
	bottom: -60px;
}

#games_are_awesome img:last-of-type{
	position: absolute;
	bottom: -70px;
	left: 10%;
	width: 250px;
	height: 200px;
}
#games_are_awesome img:first-of-type{
	position: absolute;
	bottom: -100px;
	left: 14%;
	width: 400px;
	height: 400px;
}

#get_together_friends{
	width: 100%;
	height: 500px;
	background-color: #FF6D4A;
	background-blend-mode: multiply; 
	position: relative;
}


.spc_heading{
	margin: 0px;
	color: white;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 2rem;
	letter-spacing: -.07rem;
	padding-top: 20px;
}

.cta{
	display: inline-block;
	text-align: center;
	width: 20%;
	font-size: 3rem;
	font-weight: 100;
}

#cta_hold{
	width: 100%;
	bottom: 30px;
	position: absolute;
}

#ppl{
	left: 50%;
	position: absolute;
	width: 240px;
	top: 110px;
	margin-left: -120px;

}

#visit_our_pages{
	height: 400px;
	background-color: #42A1CC;
	position: relative;
}

#visit_our_pages a{
	text-decoration: none;
	color: white;
	font-size: 3rem;
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#visit_our_pages p{
	width: 100%;
	text-align: center;
	margin: 0px;
}

.seepgs_btn{
	width: 200px;
	height: 70px;
	border: none;
	background-color: white;
	border-radius: 5px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: 60px;
	font-size: 2rem;
	color: #FF6D4A;
}

/* Ben's code end -->